if status is-interactive
    # Suprimir el mensaje de bienvenida de Fish
    set -g fish_greeting ""
    # Límite de entradas en el historial
    set -g fish_history_max_entries 20000
end

# PATH: bins locales siempre disponibles
fish_add_path -p ~/.local/bin
fish_add_path -p ~/.cargo/bin
fish_add_path -p ~/.bun/bin
fish_add_path -p ~/go/bin

# PATH: Homebrew según plataforma
fish_add_path -p /home/linuxbrew/.linuxbrew/bin

# opencode
fish_add_path /home/Row/.opencode/bin


# pnpm
set -gx PNPM_HOME "/home/Row/.local/share/pnpm"
if not string match -q -- "$PNPM_HOME/bin" $PATH
  set -gx PATH "$PNPM_HOME/bin" $PATH
end
# pnpm end
