[user]
    name = {{ promptOnce "name" "Your full name" }}
    email = {{ promptOnce "email" "Your email" }}
{{ $key := promptOnce "signingkey" "Your GPG signing key (leave empty if none)" -}}
{{ if $key -}}
    signingkey = {{ $key }}
{{ end -}}
