[user]
    name = {{ .git.user_name }}
    email = {{ .git.user_email }}
    
    {{- $sshKeyPath := printf "%s/.ssh/id_rsa.pub" .chezmoi.homeDir }}
    {{- if stat $sshKeyPath }}
    signingkey = "{{ include $sshKeyPath | trim -}}"
    {{- else if .git.signingkey }}
    signingkey = "{{ .git.signingkey }}"
    {{- end }}