[core]
    pager = delta
    editor = code --wait
{{ if eq .chezmoi.os "windows" }}
    autocrlf = true
    filemode = false
    fsmonitor = true
[safe]
    directory = "*"
{{ else }}
    autocrlf = input
    filemode = true
{{ end }}
    untrackedCache = true

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[diff]
    algorithm = histogram
    colorMoved = default

[merge]
    conflictStyle = zdiff3

[rebase]
    autosquash = true
    autostash = true
    updateRefs = true

[fetch]
    prune = true

[rerere]
    enabled = true

[help]
    autocorrect = 10

[protocol]
    version = 2

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    
    side-by-side = true
    line-numbers = true
    theme = Monokai Extended Bright

[alias]
    st = status
    cm = commit -m
    br = branch
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    f = "!git ls-files | fd"
    co = checkout
    rb = rebase
    rbi = rebase -i
    ap = add -p
    dc = diff --cached
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    wip = commit -m "wip"

[include]
    path = ~/.gitconfig.local

[commit]
    gpgsign = true

[gpg]
    format = ssh

[tag]
    gpgsign = true

[credential]
{{ if eq .chezmoi.os "windows" }}
    helper = manager-core
{{ else if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{ else }}
    helper = cache --timeout 86400
{{ end }}
